boto==2.48.0
boto3==1.9.143
botocore==1.12.143
Jinja2==2.11.3
google-cloud-storage==1.15.0
google-compute-engine==2.8.13
google-api-python-client==1.7.4
commentjson==0.7.1
deepdiff==4.0.6
azure-common==1.1.20
azure-mgmt-compute==4.6.2
azure-mgmt-network==2.7.0
azure-mgmt-resource==4.0.0
azure-mgmt-storage==3.3.0
azure-storage-blob==1.5.0
azure-storage-common==1.4.0
azure-cli-core==2.0.57
click==7.0
python-Levenshtein==0.12.0
pyyaml==5.4
