awscli==1.16.82
boto==2.48.0
boto3==1.9.76
Jinja2==2.9.6
google-compute-engine==2.8.13
google-cloud-storage==1.10.0
google-api-python-client==1.7.4
commentjson==0.7.1
botocore==1.12.72
deepdiff==3.3.0
