awscli==1.16.82
pytest==3.2.3
pytest-bdd==2.18.2
pytest-cov==2.5.1
pytest-json==0.4.0
pytest-mock==1.8.0
pytest-env==0.6.2
coverage==4.4.1
boto==2.48.0
boto3==1.9.76
Jinja2==2.9.6
moto==1.3.7
mock==2.0.0
google-cloud-storage==1.10.0
google-api-python-client==1.7.4
commentjson==0.7.1
botocore==1.12.72
deepdiff==3.3.0
placebo==0.8.2
python-json-logger==0.1.10
